body {
	padding-bottom: 0;
}

.post-date {
	font-size: 90%;
	font-style: italic;
	margin: 0;
}

.post-tags {
	padding-left: 20px;
	padding-bottom: 4px;
	background: url(/img/16x16/tag_yellow.png) no-repeat 0 0;
	line-height: 16px;
}

.figure {
	text-align: center;
}

.controls {
	margin-right: 18px;
}

.input-fullwidth {
	width: 100%;
}

.monospace {
	font-family: 'Ubuntu Mono', monospace;
}

.actions span {
	width: 32px;
	height: 32px;
	display: inline-block;
}

.actions span.action-delete {
	background: url(/img/32x32/cross.png) no-repeat 0 0;
}

.actions span.action-view {
	background: url(/img/32x32/page_go.png) no-repeat 0 0;
}

span.icon {
	width: 32px;
	height: 32px;	
}

span.icon.icon-feed {
	background: url(/img/32x32/feed.png) no-repeat 0 0;
	position: relative;
	top: 4px;
}

span.icon.icon-github {
	background: url(/img/32x32/github.png) no-repeat 0 0;
	position: relative;
	top: 3px;
	margin-right: 5px;
}

footer .navbar-inner {
	background: gray;
	color: black;

}

li pre.sourceCode { font-size: 80%; padding: 16px 16px 16px 32px; margin-top: 29px;}
pre.sourceCode {
    background: #222;
    color: #ffbf00;
    width: 87%;
    margin: 0px auto 29px auto;
    padding: 16px;

    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;	
}
pre.sourceCode span.Normal { }
pre.sourceCode span.Keyword, pre.sourceCode span.kw { font-weight: bold; } 
pre.sourceCode span.DataType, pre.sourceCode span.dt { color: #ff0; }
pre.sourceCode span.DecVal, pre.sourceCode span.de { color: #4f4; }
pre.sourceCode span.BaseN { color: #4f4; }
pre.sourceCode span.Float, pre.sourceCode span.fl { color: #4f4; }
pre.sourceCode span.Char, pre.sourceCode span.ch { color: #4f4; }
pre.sourceCode span.String, pre.sourceCode span.st { color: #4f4; }
pre.sourceCode span.Comment, pre.sourceCode span.co { color: #999; font-style: italic; }
pre.sourceCode span.Others { }
pre.sourceCode span.Alert { color: #4f4; font-weight: bold; }
pre.sourceCode span.Function, pre.sourceCode span.fu { color: #C4E7FF; }
pre.sourceCode span.RegionMarker { }
pre.sourceCode span.Error, pre.sourceCode span.er { color: #f44; font-weight: bold; }

pre.sourceCode span.ModuleName, pre.sourceCode span.mo { color: #f44; } 
pre.sourceCode span.Keyword, pre.sourceCode span.kw { color: #C4E7FF; }
pre.sourceCode span.FunctionDefinition { color: #C4E7FF; }
pre.sourceCode span.Class { color: #C4E7FF; font-weight: bold; }
pre.sourceCode span.Constructor { font-weight: bold; }
pre.sourceCode span.DataConstructor { color: #C4E7FF; }
pre.sourceCode span.TypeConstructor { font-weight: bold; }
pre.sourceCode span.InfixOperator { color: #aaa; }

@media (min-width: 768px) {
	img {
		max-width: 684px;
	}
}

@media (max-width: 979px) {
	span.icon.icon-feed {
		display: none;
	}
}

/*
 * Gray background panels for mobile
 */
.blurpanel {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #eee;
  border: 1px solid rgba(0, 0, 0, 0.05);
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);	
} 

/*
 * Blurred panels for desktop browser
 */
 
.no-mobile .blurpanel {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  border: 1px solid #eee;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
     -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}

.no-mobile .pager a {
  border: 1px solid #eee;
  border: 1px solid rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
     -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}

@media (max-width: 480px) and (max-height: 800px) {
	body.no-mobile {
	  background: url(/img/bg-800.jpg) no-repeat center fixed;
	}
	
	.no-mobile .blurpanel, .no-mobile .pager a {
	  background: url(/img/bgblur-800.jpg) no-repeat center fixed;	
	}	
}

@media (min-width: 481px) and (max-width: 800px) and (max-height: 800px) {
	body.no-mobile {
	  background: url(/img/bg-800.jpg) no-repeat center fixed;
	}
	
	.no-mobile .blurpanel, .no-mobile .pager a {
	  background: url(/img/bgblur-800.jpg) no-repeat center fixed;
	}
}

@media (min-width: 801px) and (max-width: 1280px) and (max-height: 1024px)
    , (min-height: 801px) and (max-height: 1024px) and (max-width: 1280px) {
	body.no-mobile {
	  background: url(/img/bg-1280.jpg) no-repeat center fixed;
	}
	
	.no-mobile .blurpanel, .no-mobile .pager a {
	  background: url(/img/bgblur-1280.jpg) no-repeat center fixed;
	}
}

@media (min-width: 1281px) and (max-width: 1440px) and (max-height: 1080px)
    , (min-height: 1025px) and (max-height: 1080px) and (max-width: 1440px) {
	body.no-mobile {
	  background: url(/img/bg-1440.jpg) no-repeat center fixed;
	}
	
	.no-mobile .blurpanel, .no-mobile .pager a {
	  background: url(/img/bgblur-1440.jpg) no-repeat center fixed;
	}
}

@media (min-width: 1441px) and (max-width: 1680px) and (max-height: 1260px)
    , (min-height: 1081px) and (max-height: 1260px) and (max-width: 1680px) {
	body.no-mobile {
	  background: url(/img/bg-1680.jpg) no-repeat center fixed;
	}
	
	.no-mobile .blurpanel, .no-mobile .pager a {
	  background: url(/img/bgblur-1680.jpg) no-repeat center fixed;
	}
}

@media (min-width: 1681px) and (max-width: 1920px) and (max-height: 1280px) {
	body.no-mobile {
	  background: url(/img/bg-1920.jpg) no-repeat center fixed;
	}
	
	.no-mobile .blurpanel, .no-mobile .pager a {
	  background: url(/img/bgblur-1920.jpg) no-repeat center fixed;
	}
}

@media (min-width: 1921px), (min-height: 1281px) {
	body.no-mobile {
	  background: url(/img/bg-2560.jpg) no-repeat center fixed;
	}
	
	.no-mobile .blurpanel, .no-mobile .pager a {
	  background: url(/img/bgblur-2560.jpg) no-repeat center fixed;
	}
}
 
/*
 * Full width panels for <=480px width
 */
@media (max-width: 480px) {
	body {
	  padding-left: 0;
	  padding-right: 0;
	}
	
	.navbar-fixed-top, .navbar-fixed-bottom {
	  margin-left: 0;
	  margin-right: 0;
	}
	
	.blurpanel {
	  -webkit-border-radius: 0;
	     -moz-border-radius: 0;
	          border-radius: 0;
	          
	  border-left: none;
	  border-right: none; 	
    }
    
    footer .navbar-inner {
	  -webkit-border-radius: 0;
	     -moz-border-radius: 0;
	          border-radius: 0;
	          
	  border-left: none;
	  border-right: none; 	
	}
    
}