.post-date {
	font-size: 90%;
	font-style: italic;
	margin: 0;
}

.monospace {
	font-family: 'Ubuntu Mono', monospace;
}

.actions span {
	width: 32px;
	height: 32px;
	display: block;
}
.actions span.action-delete {
	background: url(/img/32x32/cross.png) no-repeat 0 0;
}

@media (min-width: 768px) {
	.figure {
		text-align: center;
	}
	img {
		max-width: 684px;
	}
}