<head>
    <title>$meta.title$</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="/css/style.css" media="screen" />

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="/js/html5shiv.js"></script>
    <script src="/js/respond.min.js"></script>
    <![endif]-->

    <meta name="description" content="$meta.description$" />
    <meta name="keywords" content="$meta.keywords$" />
    <meta name="author" content="Maxim Dikun"/>
    <meta property="fb:admins" content="1201794820" />
    <meta property="og:site_name" content="[dikmax's blog]" />
    <meta property="og:title" content="[dikmax's blog]" />
    <meta property="og:url" content="$meta.url$" />
    <meta property="og:description" content="$meta.description$" />
    <link rel="schema.DC" href="http://purl.org/dc/elements/1.1/" />
    <link rel="schema.DCTERMS" href="http://purl.org/dc/terms/" />
    <meta name="DC.title" content="$meta.title$" />
    <meta name="DC.creator" content="Maxim Dikun" />
    <meta name="DC.subject" content="$meta.dc.subject$" />
    <meta name="DC.description" content="$meta.description$" />
    <meta name="DC.publisher" content="Maxim Dikun" />
    <meta name="DC.rights" content="Maxim Dikun, 2012-2013" />
    <meta name="DC.type" scheme="DCTERMS.DCMIType" content="Text" />
    <meta name="DC.format" content="text/html;charset=utf-8" />
    <meta name="DC.identifier" scheme="DCTERMS.URI" content="$meta.url$" />
    <meta name="DC.language" content="ru" />
    <meta property="og:type" content="blog" />
</head>
