<head>
    <title>$meta.title$</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="/css/style.css" media="screen" />

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="/js/html5shiv.js"></script>
    <script src="/js/respond.min.js"></script>
    <![endif]-->

    <meta content='Мой персональный блог. Я рассказываю о программировании и иногда о своей жизни.' name='description'/>
    <meta name='keywords' content='$meta.keywords$'/>
    <meta content='Maxim Dikun' name='author'/>
    <meta content='1201794820' property='fb:admins'/>
    <meta content="[dikmax's blog]" property='og:site_name'/>
    <meta content="[dikmax's blog]" property='og:title'/>
    <meta content='http://dikmax.name/' property='og:url'/>
    <meta content='Мой персональный блог. Я рассказываю о программировании и иногда о своей жизни.'
          property='og:description'/>
    <link href='http://purl.org/dc/elements/1.1/' rel='schema.DC'/>
    <link href='http://purl.org/dc/terms/' rel='schema.DCTERMS'/>
    <meta content="[dikmax's blog]" name='DC.title'/>
    <meta content='Maxim Dikun' name='DC.creator'/>
    <meta content='Blog; блог' name='DC.subject'/>
    <meta content='Мой персональный блог. Я рассказываю о программировании и иногда о своей жизни.'
          name='DC.description'/>
    <meta content='Maxim Dikun' name='DC.publisher'/>
    <meta content='Maxim Dikun, 2012' name='DC.rights'/>
    <meta content='Text' scheme='DCTERMS.DCMIType' name='DC.type'/>
    <meta content='text/html;charset=utf-8' name='DC.format'/>
    <meta content='http://dikmax.name/' scheme='DCTERMS.URI' name='DC.identifier'/>
    <meta content='ru' name='DC.language'/>
    <meta content='blog' property='og:type'/>
</head>
